<banner></banner>

<div class="container">
    <!-- Trending Products -->
    <div class="trendy-heading"><span>Trending</span><span>PRODUCTS</span></div>
    <div class="filter">
        <label for="category">Please select the category </label>
        <select class="form-select" id="category" (change)="selectionChange($event)">
            <option selected disabled>All Products</option>
            <option *ngFor="let category of productCategories" [value]="category" style="text-transform: capitalize;">
                {{category}}</option>
        </select>
    </div>
    <product-card [cardData]="productCategoryWise"></product-card>
    <!-- Trending T-shirts -->
    <div class="trendy-heading"><span>Trending</span><span>T-SHIRTS</span></div>
    <product-card [cardData]="tshirtData"></product-card>
    <!-- Trending Sweatshirts -->
    <div class="trendy-heading"><span>Trending</span><span>DRESSES</span></div>
    <product-card [cardData]="dressesData"></product-card>
    <!-- Trending Deals -->
    <div class="trendy-heading"><span>Trending</span><span>DEALS</span></div>
    <carousel-deals [dealsData]="dealsData"></carousel-deals>
    <!-- Craving People -->
    <div class="trendy-heading"><span>Craving</span><span>PEOPLE</span></div>
    <people-card [peopleData]="peopleData"></people-card>
    <!-- Poster -->
    <div class="poster">
        <div class="row poster-row">
            <div class="section-1 col-md-4 col-sm-4 col-xs-4">
                <p class="t1">CHOOSE US FOR AN</p>
                <p class="t2">INCLUSIVE EXPERIENCE</p>
                <p class="t3">& EXCLUSIVE DESIGN</p>
                <button class="btn buy-now">SHOP NOW</button>
            </div>
            <div class="section-2 col-md-4 col-sm-4 col-xs-4">
                <img class="img-fluid" src="../../../assets/poster-image.png" alt="">
            </div>
            <div class="section-3 col-md-4 col-sm-4 col-xs-4">
                <p class="t1">DOWNLOAD THE</p>
                <p class="t2">APP NOW</p>
                <img class="img-fluid icon" src="../../../assets/arrow-dpwn.png" alt="">
                <img class="img-fluid google-play" src="../../../assets/googlePlay.png" alt="Gooplay Store">
            </div>
        </div>
    </div>
    <!-- About Us -->
    <div class="about-us mt-3">
        <div class="heading col-md-2">
            ABOUT <span>US</span>
        </div>
        <div class="content">
            <p class="t1">Online Shopping Site</p>
            <p class="t2">India's Best Online Shopping Website for Fashion and Lifestyle</p>
            <p class="t3">Started in 2015, DEMO is the Best Site for Online shopping in India when it comes to
                online clothes shopping for men and women at low rates. The latest fashion trends and
                styles are showcased here, yes at your favourite online shopping destination. Well,
                if fashion is medicine then DEMO is the chemist shop where you can do your online
                shopping for men and women with ease. DEMO is the classic blend of “creativity” and
                “style”. Be young- Youthful by Heart, our catch phrase or slogan says a lot about us. Be
                Young is always known for millennial's brand hence we have a vast collection of men's
                and women's fashion apparel.
            </p>
        </div>
        <div class="services">
            <div class="service">
                <img src="../../../assets/return-package.png" alt="">
                <p>7 Days Return</p>
            </div>
            <div class="service">
                <img src="../../../assets/checkmark.png" alt="">
                <p> Quality Products</p>
            </div>
            <div class="service">
                <img src="../../../assets/card-security.png" alt="">
                <p>Safe Payment</p>
            </div>
            <div class="service">
                <img src="../../../assets/24-7.png" alt="">
                <p>24x7 Helpline</p>
            </div>
        </div>
    </div>
</div>