<div class="container">
    <!-- Trending T-shirts -->
    <div class="trendy-heading"><span>Trending</span><span>T-SHIRTS</span></div>
    <product-card [cardData]="tshirtData"></product-card>
    <!-- Trending Sweatshirts -->
    <div class="trendy-heading"><span>Trending</span><span>SWEATSHIRTS</span></div>
    <product-card [cardData]="tshirtData"></product-card>
    <!-- Trending Deals -->
    <div class="trendy-heading"><span>Trending</span><span>DEALS</span></div>
    <carousel-deals [dealsData]="dealsData"></carousel-deals>
    <!-- Craving People -->
    <div class="trendy-heading"><span>Craving</span><span>PEOPLE</span></div>
    <people-card [peopleData]="peopleData"></people-card>
</div>