<div class="d-flex flex-column">
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="footer1">
            <div class="container py-4">
                <div class="row">
                    <div class="email-form">
                        <p class="text">LATEST UPDATES</p>
                        <form class="d-flex form email" role="email">
                            <input type="text" class="form-control emailTerm" placeholder="Enter your email">
                            <button type="submit" class="btn emailButton">
                                SUBSCRIBE 
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer2">
            <div class="container py-4">
                <div class="row gy-4 gx-5">
                    <div class="col-md-4">
                        <h3>ABOUT HISCRAVES</h3>
                        <p class="text-small">HISCRAVES is an award-wining subsidiary compny of DEMO Pvt. Ltd. Operating
                            since 2016, DEMO is one of the fastest growing Indian brands specialized in the apparel
                            industry
                            with a portfolio of various categories of apparel.</p>
                    </div>
                    <div class="col-md-3">
                        <h3 class="mb-3">COMPANY</h3>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a>About Us</a></li>
                            <li class="mb-3"><a>Terms & Conditions</a></li>
                            <li class="mb-3"><a>Privacy Policy</a></li>
                            <li class="mb-3"><a>Shipping Policy</a></li>
                            <li class="mb-3"><a>Refund & Return Policy</a></li>
                            <li class="mb-3"><a>Blogs</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3 class="mb-3">LINKS</h3>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a>Home</a></li>
                            <li class="mb-3"><a>About</a></li>
                            <li class="mb-3"><a>Get started</a></li>
                            <li class="mb-3"><a>FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3 class="mb-3">CONNECT WITH US</h3>
                        <p class="text-small">Call Us: 08046802280</p>
                        <p class="text-small">Email Us: info@ABC.com</p>
                        <div class="social">
                            <ul class="social-icons">
                                <li><img src="../../../assets/icons8-facebook-24.png" alt=""></li>
                                <li><img src="../../../assets/icons8-instagram-24.png" alt=""></li>
                                <li><img src="../../../assets/icons8-twitter-24.png" alt=""></li>
                                <li><img src="../../../assets/icons8-youtube-logo-24.png" alt=""></li>
                                <li><img src="../../../assets/icons8-pinterest-24.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row gy-4 gx-5">
                    <div class="col-md-4">
                        <div class="text-white mb-3"><img src="../../../assets/icons8-undo-64.png"
                                style="width:35px; height: auto; padding-right: 2%;" alt="">7 days return policy</div>
                        <div class="text-white"><img src="../../../assets/icons8-cash-on-delivery-96.png"
                                style="width:35px; height: auto; padding-right: 2%;" alt="">Cash on delivery</div>
                    </div>
                    <div class="col-md-3">
                        <h3 class="mb-3">DOWNLOAD THE APP</h3>
                        <img style="width: 150px; height: auto; cursor: pointer;" src="../../../assets/googlePlay.png"
                            alt="">
                    </div>
                    <div class="col-md-3">
                        <h3 class="mb-3">100% SECURE PAYMENT</h3>
                        <p class="text-small secure">
                            <mat-icon>lock</mat-icon> Guaranteed safe & secure payment
                        </p>
                        <div class="social">
                            <ul class="social-icons">
                                <li><img src="../../../assets/icons8-visa-50.png" alt=""></li>
                                <li><img src="../../../assets/icons8-mastercard-credit-card-80.png" alt=""></li>
                                <li><img src="../../../assets/icons8-paypal-50.png" alt=""></li>
                                <li><img src="../../../assets/icons8-bhim-upi-50.png" alt=""></li>
                                <li><img src="../../../assets/icons8-debit-card-50.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>