<section>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="heading">
                <div>WINTER</div>
                <div>COLLECTION</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6"> 
            <img src="../../../assets/clothes/bannerImageMain.png" alt="">
        </div>
    </div>
    <div class="slider">
        <div class="arrows">
            <a (click)="moveLeft()">
                <img class="arrow" src="../../../assets/arrow-left.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            <a (click)="moveRight()">
                <img class="arrow" src="../../../assets/arrow-right.png" alt="">
            </a>
        </div>
        <drag-scroll [scrollbar-hidden]="true" #nav>
            <img drag-scroll-item src="../../../assets/clothes/b1.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b2.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b3.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b4.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b5.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b6.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b7.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b8.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b9.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b10.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b11.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b12.webp" />
            <img drag-scroll-item src="../../../assets/clothes/b13.webp" />
        </drag-scroll>
    </div>
</section>