// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ecommerce-site-primary: mat.define-palette(mat.$indigo-palette);
$ecommerce-site-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ecommerce-site-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ecommerce-site-theme: mat.define-light-theme((color: (primary: $ecommerce-site-primary,
        accent: $ecommerce-site-accent,
        warn: $ecommerce-site-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ecommerce-site-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$red: #bf2a2a;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.trendy-heading {
  margin: 6% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // place-items: center;

  span:nth-child(1) {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    color: $red;
  }

  span:nth-child(2) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    top: 40px;
  }
}

@media only screen and (max-width:900px) {
  .trendy-heading {
    margin: 8% 0 !important;
  }
}

@media only screen and (max-width:750px) {
  .trendy-heading {
    margin: 12% 0 !important;
  }
}